{%extends "base.html"%}
{%block content%}
<body>
    <form method="POST" action="{{url_for('processingcore.new_menu')}}">
        <h1>Parametr X</h1>
        <select class="form-select col-xs-1 text-center" aria-label="Default select example" name="paramx">
            {%for i in tbl%}
            <option value="{{i}}">{{i}}</option>
            {%endfor%}
        </select>

        <h1>Parametr Y</h1>
        <select class="form-select col-xs-1 text-center" aria-label="Default select example" name="paramy">
            {%for i in tbl%}
            <option value="{{i}}">{{i}}</option>
            {%endfor%}
        </select>

        <h1>Drugi parametr Y (opcjonalnie)</h1>
        <select class="form-select col-xs-1 text-center" aria-label="Default select example" name="param2y">
            {%for i in tbl%}
            <option value="{{i}}">{{i}}</option>
            {%endfor%}
        </select>

        <h1>Drugi wykres (opcjonalnie)</h1>
        <select class="form-select col-xs-1 text-center" aria-label="Default select example" name="optnvar">
            {%for i in optn%}
            <option value="{{i}}">{{i}}</option>
            {%endfor%}
        </select>

        <div class="col-xs-1" style="margin-top:10px" align="center">
            <input type="submit" value="Prześlij dane" class="btn btn-warning">
        </div>
    </form>

    {% if cond %}
    <div class="col-xs-1" align="center">
    <img style="margin-top:20px;" src="{{img1}}" width="1000" height="600">
    </div>

    <div class="col-xs-1" align="center">
    <img style="margin-top:20px;" src="{{img2}}" width="1000" height="600">
    </div>

    <div class="col-xs-1" style="margin-top:10px" align="center">
        <p1>
            W celu pobrania zdjęć, proszę kliknąć prawym przyciskiem myszy (PPM) na wykres 
            i wybrać opcję "zapisz"
        </p1>
    </div>
    {% endif %}

    <div style="margin-top:30px;" class="col-xs-1 text-center">
        <p><a href="{{url_for('index')}}" class="btn btn-primary">
            Wróć do strony głównej
        </a></p>
    </div>
</body>
{%endblock%}